#### Hi! Today you will play with NaN values and another Data Manipulation methods. Let us know if you need help and also if you need more challenges on that :)

#### The dataset that you will use is again recipes.csv. You can either use your own or the one in the subfolder "data". Do not forget to import the necessary libraries!

In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("data/recipes.csv",index_col=0)
df

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
0,True,True,True,False,1.0,3,633998,Banana Blueberry Pancakes,55.79,45,...,0.49,2.44,0.03,2.26,18.11,1.81,NaN,NaN,NaN,NaN
1,True,True,False,False,0.0,1,634426,Basil and Orange Confit Compound Butter,15.07,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,False,False,False,3.0,1,635085,Black Bottom Banana Bars,78.85,45,...,2.63,13.13,0.32,21.09,100.80,10.08,0.28,1.53,9.89,3.30
3,True,False,True,False,2.0,1,663229,The Best Raw Chocolate Chip Cookies,54.64,45,...,0.65,3.26,0.10,6.47,26.79,2.68,NaN,NaN,NaN,NaN
4,False,True,False,False,31.0,3,651437,Mediterranean Spinach Artichoke Dip,115.26,45,...,0.66,3.29,0.07,4.64,162.84,16.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,False,True,True,False,18.0,13,638315,"Chicken Sausage, White Bean and Cabbage Soup",196.23,45,...,0.53,2.67,0.15,10.23,102.67,10.27,NaN,NaN,NaN,NaN
146,True,False,False,False,1.0,2,656248,Pinot Noir Brownies,65.76,45,...,0.21,1.07,0.03,1.68,19.82,1.98,2.48,13.76,10.69,3.56
147,True,True,True,True,93.0,2,637297,Cauliflower Chickpea Stew,139.28,45,...,4.77,23.83,0.45,29.70,141.16,14.12,NaN,NaN,NaN,NaN
148,True,True,False,False,5.0,1,659412,Saut√©ed Balsamic Green Beans With Cherry Tomatoes,101.81,45,...,1.15,5.73,0.12,7.85,55.64,5.56,NaN,NaN,NaN,NaN
149,True,True,True,True,100.0,4,647875,Indian-Style Dill and Turmeric Potato Salad,117.24,30,...,0.21,1.05,NaN,NaN,27.96,2.80,NaN,NaN,NaN,NaN

#### Print the names of Columns that have null values

In [3]:
# To get sum of null values in each column
df.isnull().sum()
# To get column names that have null values in it
df.columns[df.isnull().any()]

Index(['FiberAmount', 'FiberpercentOfDailyNeed', 'VitaminB6Amount',
       'VitaminB6percentOfDailyNeed', 'ManganeseAmount',
       'ManganesepercentOfDailyNeed', 'SeleniumAmount',
       'SeleniumpercentOfDailyNeed', 'PotassiumAmount',
       'PotassiumpercentOfDailyNeed', 'VitaminB2Amount',
       'VitaminB2percentOfDailyNeed', 'VitaminCAmount',
       'VitaminCpercentOfDailyNeed', 'PhosphorusAmount',
       'PhosphoruspercentOfDailyNeed', 'FolateAmount',
       'FolatepercentOfDailyNeed', 'VitaminB5Amount',
       'VitaminB5percentOfDailyNeed', 'MagnesiumAmount',
       'MagnesiumpercentOfDailyNeed', 'IronAmount', 'IronpercentOfDailyNeed',
       'VitaminKAmount', 'VitaminKpercentOfDailyNeed', 'CopperAmount',
       'CopperpercentOfDailyNeed', 'VitaminAAmount',
       'VitaminApercentOfDailyNeed', 'VitaminB12Amount',
       'VitaminB12percentOfDailyNeed', 'VitaminDAmount',
       'VitaminDpercentOfDailyNeed', 'ZincAmount', 'ZincpercentOfDailyNeed',
       'VitaminEAmount', 'VitaminEpercentOfDailyNeed', 'VitaminB3Amount',
       'VitaminB3percentOfDailyNeed', 'VitaminB1Amount',
       'VitaminB1percentOfDailyNeed', 'CalciumAmount',
       'CalciumpercentOfDailyNeed', 'AlcoholAmount',
       'AlcoholpercentOfDailyNeed', 'CaffeineAmount',
       'CaffeinepercentOfDailyNeed'],
      dtype='object')

#### Print the recipes with the highest number of aggregateLikes

In [4]:
dfagg = df[df.aggregateLikes == df.aggregateLikes.max()]
dfagg

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
50,False,True,True,False,4.0,16911,715419,Slow Cooker Spicy Hot Wings,101.43,14,...,7.42,37.09,0.08,5.0,44.21,4.42,NaN,NaN,NaN,NaN

#### Handle the missing values of ‚Äúcalcium percent of Daily need‚Äù. Sort the resulting DataFrame by id column.

In [5]:
# Knowing the datatype of the particular column
df['CalciumpercentOfDailyNeed'].dtypes # float
# To get the number of null values
df['CalciumpercentOfDailyNeed'].isnull().sum() # 8

df2 = df.copy()
df2['CalciumpercentOfDailyNeed']=df2['CalciumpercentOfDailyNeed'].fillna(0)
df2.sort_values(by=['id'])

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
83,False,False,False,False,5.0,0,45945,Oeufs En Meurette,209.85,328,...,1.51,7.56,0.15,10.13,124.54,12.45,NaN,NaN,NaN,NaN
43,False,False,False,False,44.0,1,622825,Tortilla Burger Loco Vaca,407.86,40,...,12.82,64.12,0.35,23.42,281.97,28.20,NaN,NaN,NaN,NaN
104,False,False,False,False,4.0,1,631769,"Bad Boy"" Giant Double Chocolate Cookies",44.08,45,...,1.73,8.63,0.20,13.42,64.05,6.41,NaN,NaN,34.04,11.35
95,False,True,True,False,9.0,1,632084,Allergy-Free Stuffed Portobello Mushrooms,138.47,45,...,4.59,22.96,0.09,6.05,28.08,2.81,NaN,NaN,NaN,NaN
52,False,False,False,False,2.0,16,632101,Almond Butter and Chocolate Squares,92.26,45,...,0.81,4.04,0.04,2.51,86.99,8.70,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,True,True,True,True,77.0,1,1096268,Garlic-Roasted Brussels Sprouts Side Dish,170.34,35,...,1.23,6.13,0.23,15.57,83.41,8.34,NaN,NaN,NaN,NaN
30,True,True,True,False,17.0,1,1096306,Vegan Chana Masala Curry,165.89,30,...,2.14,10.71,0.20,13.09,154.27,15.43,NaN,NaN,NaN,NaN
118,False,True,True,False,38.0,1,1096323,Potato & Leek Soup with Roasted Beets,244.08,45,...,2.43,12.15,0.10,6.47,101.41,10.14,NaN,NaN,NaN,NaN
39,True,True,True,False,7.0,6,1098357,Three Ingredient Frozen Pina Colada,214.60,5,...,1.05,5.25,0.19,12.66,52.87,5.29,13.36,74.22,NaN,NaN
67,False,True,False,False,15.0,0,1416203,Tater Tot Chili Cheese Casserole,81.27,40,...,1.24,6.19,0.08,5.16,148.34,14.83,NaN,NaN,NaN,NaN

#### Delete the columns that have null values == 141

In [6]:
df2.dropna(axis='columns',thresh=141)

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,MagnesiumAmount,MagnesiumpercentOfDailyNeed,IronAmount,IronpercentOfDailyNeed,CopperAmount,CopperpercentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed
0,True,True,True,False,1.0,3,633998,Banana Blueberry Pancakes,55.79,45,...,19.91,4.98,0.75,4.14,0.08,3.80,0.03,2.26,18.11,1.81
1,True,True,False,False,0.0,1,634426,Basil and Orange Confit Compound Butter,15.07,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2,False,False,False,False,3.0,1,635085,Black Bottom Banana Bars,78.85,45,...,43.70,10.93,3.14,17.46,0.26,13.10,0.32,21.09,100.80,10.08
3,True,False,True,False,2.0,1,663229,The Best Raw Chocolate Chip Cookies,54.64,45,...,8.51,2.13,1.21,6.71,0.03,1.65,0.10,6.47,26.79,2.68
4,False,True,False,False,31.0,3,651437,Mediterranean Spinach Artichoke Dip,115.26,45,...,42.27,10.57,1.48,8.23,0.13,6.39,0.07,4.64,162.84,16.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,False,True,True,False,18.0,13,638315,"Chicken Sausage, White Bean and Cabbage Soup",196.23,45,...,53.40,13.35,3.34,18.53,0.21,10.62,0.15,10.23,102.67,10.27
146,True,False,False,False,1.0,2,656248,Pinot Noir Brownies,65.76,45,...,33.91,8.48,1.13,6.28,0.28,14.15,0.03,1.68,19.82,1.98
147,True,True,True,True,93.0,2,637297,Cauliflower Chickpea Stew,139.28,45,...,162.82,40.71,4.85,26.92,0.68,34.15,0.45,29.70,141.16,14.12
148,True,True,False,False,5.0,1,659412,Saut√©ed Balsamic Green Beans With Cherry Tomatoes,101.81,45,...,35.26,8.82,1.65,9.18,0.13,6.71,0.12,7.85,55.64,5.56
149,True,True,True,True,100.0,4,647875,Indian-Style Dill and Turmeric Potato Salad,117.24,30,...,7.36,1.84,0.99,5.49,0.02,1.18,NaN,NaN,27.96,2.80

#### Print the title of the recipes that are vegetarian == TRUE and glutenFree == True

In [7]:
mask1 = (df["vegetarian"] == True)
mask2 = (df["glutenFree"] == True)
df["title"][mask1 & mask2]

0                              Banana Blueberry Pancakes
1                Basil and Orange Confit Compound Butter
14                            Spicy Carrot Amaranth Soup
15                                            Nutty Rice
20                           Fire Roasted Tomato Chutney
22                                 Butternut Squash Soup
24                         Green Beans with Garlic Chips
27                                Easy Eggplant Parmesan
29                                            Kappa Maki
30                              Vegan Chana Masala Curry
31     Grilled Peach Melba with Vanilla Bean Frozen Y...
33                             Detox Orange Carrot Juice
37                      Roasted Asparagus with Egg Salad
39                   Three Ingredient Frozen Pina Colada
42                               Peach Coconut Ice Cream
57     Saut√©ed Balsamic Green Beans With Cherry Tomatoes
61                              Ginger Melon Side Salad
69                      Chicken with Avocado Peach Salsa
72                             EASY, CUMIN-LENTIL SPREAD
80                                 Luscious Palak Paneer
85                                             Beet Slaw
93             Roasted Strawberry Coconut Milk Ice Cream
96                                    Breakfast Porridge
97     Peanut Butter Cookies with Flax Seeds and Choc...
100                                  Blender Carrot Soup
101                                      Dandelion pesto
102                                Coconut Flour Muffins
106                              Japanese Cucumber Salad
107                           Blueberry Mojito Popsicles
119                                     Fried Brown Rice
123                                 Seasonal Autumn Stew
126    Slow Cooker Healthy Sweet Potato Soup with Coc...
129    Blueberry, Persimmon Smoothie with Banana and ...
131                              Mango Cranberry Sherbet
132                          Cherries and Yogurt Parfait
133                              The Pearhattan Cocktail
134            Garlic-Roasted Brussels Sprouts Side Dish
139                                  Layered Greek Salad
143                      Stir Fried Cabbage and Tomatoes
147                            Cauliflower Chickpea Stew
148    Saut√©ed Balsamic Green Beans With Cherry Tomatoes
149          Indian-Style Dill and Turmeric Potato Salad
Name: title, dtype: object

#### How many vegan recipes are there (Vegan = Vegetarian and dairy free)?

In [16]:
mask1 = (df["vegetarian"] == True)
mask2 = (df["dairyFree"] == True)
dfvegan1 = df["title"][mask1 & mask2]
dfvegan1.count()

29

#### Compare the average amount of Vitamin B12 for the vegan and non-vegan recipes. How reliable are the results?

In [17]:
dfvegan2 = df[mask1 & mask2]
vegan_mean = dfvegan2["VitaminB12Amount"][mask1 & mask2].mean(skipna = True)
dfnotvegan = df[~(mask1 & mask2)]
not_vegan_mean = dfnotvegan["VitaminB12Amount"].mean(skipna = True)
print(vegan_mean)
print(not_vegan_mean)
# May not be reliable as there are many null values for the column, VitaminB12Amount

0.24333333333333332
1.0345555555555552

#### Compare the average health Score for both types of recipes (vegan vs non-vegan).

In [18]:
vegan_healthScore = dfvegan["healthScore"][mask1 & mask2].mean(skipna = True)
not_vegan_healthScore = dfnotvegan["healthScore"].mean(skipna = True)
print(vegan_healthScore)
print(not_vegan_healthScore)

27.724137931034484
18.785123966942148

#### Create a new column: "VeganWeek" where you decrease the price of vegan products by 10%, but only if they already cost more than 100.

In [19]:
#df["VeganWeek"]=df[[mask1 & mask2]["pricePerServing"]-(0.1*df["pricePerServing"]),"pricePerServing"]

dfvegan["VeganWeek"] = dfvegan["pricePerServing"].apply(lambda x: x if x <= 100 else (x-(0.1*x)))
dfvegan[["vegetarian","dairyFree","pricePerServing","VeganWeek"]]

<ipython-input-19-e73f19078e77>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfvegan["VeganWeek"] = dfvegan["pricePerServing"].apply(lambda x: x if x <= 100 else (x-(0.1*x)))

     vegetarian  dairyFree  pricePerServing  VeganWeek
0          True       True            55.79     55.790
3          True       True            54.64     54.640
9          True       True           229.28    206.352
14         True       True           220.53    198.477
20         True       True            74.69     74.690
29         True       True            72.94     72.940
30         True       True           165.89    149.301
33         True       True           104.27     93.843
39         True       True           214.60    193.140
61         True       True           219.70    197.730
69         True       True            90.20     90.200
72         True       True            29.56     29.560
73         True       True            23.82     23.820
93         True       True           143.71    129.339
97         True       True            18.14     18.140
101        True       True           132.51    119.259
102        True       True            30.66     30.660
106        True       True            29.96     29.960
107        True       True           114.86    103.374
119        True       True           188.92    170.028
123        True       True           172.76    155.484
126        True       True           418.08    376.272
129        True       True            48.70     48.700
133        True       True           509.89    458.901
134        True       True           170.34    153.306
138        True       True            81.78     81.780
143        True       True            80.89     80.890
147        True       True           139.28    125.352
149        True       True           117.24    105.516

#### Among the non-vegan recipes, find the one requiring most time to prepare. How is it called?

In [20]:
dfnotveganmax = dfnotvegan[dfnotvegan.readyInMinutes == dfnotvegan.readyInMinutes.max()]
dfnotveganmax

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
83,False,False,False,False,5.0,0,45945,Oeufs En Meurette,209.85,328,...,1.51,7.56,0.15,10.13,124.54,12.45,NaN,NaN,NaN,NaN