#### Import pandas library using alias pd.

In [1]:
import pandas as pd

#### Load file recipes.csv from the data subfolder and store it in a variable df_ex1. Use the first column as index.

In [4]:
df_ex1 = pd.read_csv("data\\recipes.csv",index_col=0)
df_ex1

,vegetarian,glutenFree,dairyFree,veryHealthy,healthScore,aggregateLikes,id,title,pricePerServing,readyInMinutes,...,VitaminB3Amount,VitaminB3percentOfDailyNeed,VitaminB1Amount,VitaminB1percentOfDailyNeed,CalciumAmount,CalciumpercentOfDailyNeed,AlcoholAmount,AlcoholpercentOfDailyNeed,CaffeineAmount,CaffeinepercentOfDailyNeed
0,True,True,True,False,1.0,3,633998,Banana Blueberry Pancakes,55.79,45,...,0.49,2.44,0.03,2.26,18.11,1.81,NaN,NaN,NaN,NaN
1,True,True,False,False,0.0,1,634426,Basil and Orange Confit Compound Butter,15.07,45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,False,False,False,3.0,1,635085,Black Bottom Banana Bars,78.85,45,...,2.63,13.13,0.32,21.09,100.80,10.08,0.28,1.53,9.89,3.30
3,True,False,True,False,2.0,1,663229,The Best Raw Chocolate Chip Cookies,54.64,45,...,0.65,3.26,0.10,6.47,26.79,2.68,NaN,NaN,NaN,NaN
4,False,True,False,False,31.0,3,651437,Mediterranean Spinach Artichoke Dip,115.26,45,...,0.66,3.29,0.07,4.64,162.84,16.28,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,False,True,True,False,18.0,13,638315,"Chicken Sausage, White Bean and Cabbage Soup",196.23,45,...,0.53,2.67,0.15,10.23,102.67,10.27,NaN,NaN,NaN,NaN
146,True,False,False,False,1.0,2,656248,Pinot Noir Brownies,65.76,45,...,0.21,1.07,0.03,1.68,19.82,1.98,2.48,13.76,10.69,3.56
147,True,True,True,True,93.0,2,637297,Cauliflower Chickpea Stew,139.28,45,...,4.77,23.83,0.45,29.70,141.16,14.12,NaN,NaN,NaN,NaN
148,True,True,False,False,5.0,1,659412,Sautéed Balsamic Green Beans With Cherry Tomatoes,101.81,45,...,1.15,5.73,0.12,7.85,55.64,5.56,NaN,NaN,NaN,NaN
149,True,True,True,True,100.0,4,647875,Indian-Style Dill and Turmeric Potato Salad,117.24,30,...,0.21,1.05,NaN,NaN,27.96,2.80,NaN,NaN,NaN,NaN

#### See if the 34th recipe on the list is vegetarian (remember the 0-based indexing!). Please do this in 4 different ways. Be careful with how .iloc and .loc handle things.

In [10]:
df_ex1["vegetarian"][33]
df_ex1.vegetarian[33]
df_ex1.loc[33, "vegetarian"]
df_ex1.iloc[33,1]

True

#### Choose columns with the following info and in the following order: title, price and if it is vegetarian

In [15]:
df_ex1.loc[:,["title","pricePerServing","vegetarian"]]

,title,pricePerServing,vegetarian
0,Banana Blueberry Pancakes,55.79,True
1,Basil and Orange Confit Compound Butter,15.07,True
2,Black Bottom Banana Bars,78.85,False
3,The Best Raw Chocolate Chip Cookies,54.64,True
4,Mediterranean Spinach Artichoke Dip,115.26,False
...,...,...,...
145,"Chicken Sausage, White Bean and Cabbage Soup",196.23,False
146,Pinot Noir Brownies,65.76,True
147,Cauliflower Chickpea Stew,139.28,True
148,Sautéed Balsamic Green Beans With Cherry Tomatoes,101.81,True
149,Indian-Style Dill and Turmeric Potato Salad,117.24,True

#### And now the same for recipes number from 24 to 29

In [16]:
df_ex1.loc[23:30,["title","pricePerServing","vegetarian"]]

,title,pricePerServing,vegetarian
23,Blueberry Compote Bread Pudding With Soft Curd...,270.38,True
24,Green Beans with Garlic Chips,83.90,True
25,Pandan Thumbprint Biscuits,54.26,False
26,Lamb Moussaka,528.50,False
27,Easy Eggplant Parmesan,195.51,True
28,Peach Pie,173.52,True
29,Kappa Maki,72.94,True
30,Vegan Chana Masala Curry,165.89,True

#### Play with some slicing and accesing. Do you understand the result that you obtain from different trials? Please feel free to ask us about what you see! :)

#### Notice which slicing methods are inclusive and which of them are exclusive. Try to figure your favourite way of accesing / slicing and remember that sometimes some of them make more sense than the others.